body{
    background-color: bisque;
    margin: 0;
    padding: 0;
}

.images{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.images img{
    height: 300px;
    width: 300px;
    object-fit: cover;
}

header{
    height: 80px;
    background-color: blue;
    color: white;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

a{
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

main{
    padding: 30px;
}


li{
    font-size: 20px;
}